# Database
APP_NAME=Workspacer
APP_ENV=local

# Urls
API_URL=https://api.workspacer.loc
APP_URL=https://app.workspacer.loc
APP_URL=https://workspacer.loc

# Database
DB_HOST=database
DB_PORT=3306
DB_DATABASE=workspacer
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=